@page
@model IndexModel
@{
    ViewData["Title"] = "Ski stasjon";
}
<div class="container d-flex justify-content-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    <div>
    
    @foreach(var item in Model.TimetableModel.data.stopPlace.estimatedCalls)
    {
        <table class="table table-striped">
            <tr>
                <th>Line</th>
                <th>Destination</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Expected Departure Time</th>
            </tr>
            <tr>
                <td>@item.serviceJourney.journeyPattern.line.id.Replace("NSB:Line:", "")</td>
                <td>@item.destinationDisplay.frontText</td>
                <td>@item.aimedArrivalTime.ToString("HH:mm")</td>
                <td>@item.aimedDepartureTime.ToString("HH:mm")</td>
                @if (item.expectedDepartureTime != item.aimedDepartureTime) {
                    <td style="color:red;">@item.expectedDepartureTime.ToString("HH:mm")</td>
                } else {
                    <td>@item.expectedDepartureTime.ToString("HH:mm")</td>
                }
            </tr>
        </table>
    }
</div>
</div>